:root {
    --primary: #1e3a8a;   /* آبی تیره */
    --secondary: #2563eb; /* آبی دکمه */
    --bg: #e5e7eb;
       /* پس‌زمینه */
    --card: #ffffff;
}
body {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
    margin: 0;
    padding: 20px;
    background-color:  var(--bg);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* محصولات */
#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

#products > div {
    background: var(--card);
    border-radius: 14px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    transition: transform 0.3s, box-shadow 0.3s;
}

#products > div:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}


#products img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
}

/* دکمه‌ها */
button {
    background-color: var(--secondary);
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: var(--primary);
    transform: scale(1.05);
}

/* سبد خرید */
#cart-container {
    z-index: 1000;
}

#cart-items {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

#cart-items img {
    vertical-align: middle;
}

/* modal */
#product-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

#modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}
h1 {
    color: var(--primary);
    font-weight: 700;
}



